$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-secondary: #4C4C4C;
$color-tertiary: #fff;
$color-text: #292929;
$color-bg: #000;

$link-color: #CDCDCD;
$link-color-active:  #FAFAFA;

$color-dark: #545454;
$color-dark-dark: #292929;
$color-light: #F6F6F6;
$color-grey: #B2B2B2;
$color-overlay: rgba(41, 41, 41, 0.6);

$content-width: 1280px;
$tablet-width: 768px;
$burger-active: 767px;
$mobile-big-width: 376px;
$mobile-small-width: 320px;

$header-padding-top: 30px;
$header-padding-left: 40px;
$header-height: 878px;
$header-bg: url("./assets/img/background/noise_transparent.png") repeat,
    radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%),
    #211F20;
$header-img: url("./assets/img/background/start-screen-puppy.png");

$footer-height: 350px;
$footer-bg: url("./assets/img/background/noise_transparent.png"),
radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
$footer-img: url("./assets/img/footer-puppy.png");
