//Not only

.not-only > .wrapper {
    position:relative;
}

.header-slogan {
    position:absolute;

    bottom:243px;
    left:40px;

    z-index:1;

    @include flexbox($direction: column);

		&__title h1 {
            width: 310px;

            margin-bottom:42px;

            @include font($font-family: 'Georgia',
            $font-size: calc(44/16) * 1rem,
            $line-height: 1.3,
            $color: $color-tertiary)
		}

		&__text {
            width: 460px;

            margin-bottom:42px;

            @include font($color: $link-color);
		}
}

@media (max-width:1260px) {
    .header-slogan {
        bottom:693px;
        left:154px;

        & .button-link {
            align-self: center;
        }
    }
}

@media (max-width:767px) {
    .header-slogan {
        width:500px;

        bottom:377px;
        left:calc(50% - 250px);

        padding-left:0;
        padding-right:10px;

        &__title h1 {
            width: 200px;

            margin-left: auto;
            margin-right: auto;

            text-align: center;

            letter-spacing: 0.06em;
            
            font-size: calc(25/16) * 1rem;

		}

		&__text {
            width: 100%;

            text-align: center;

            font-size: calc(15/16) * 1rem;
		}
    }
}

@media (max-width:560px) {
    .header-slogan {
        width:300px;

        bottom:377px;
        left:calc(50% - 150px);

        padding-left:0;
        padding-right:10px;

        &__title h1 {
            width: 200px;

            margin-left: auto;
            margin-right: auto;

            text-align: center;

            letter-spacing: 0.06em;
            
            font-size: calc(25/16) * 1rem;

		}

		&__text {
            width: 100%;

            text-align: center;

            font-size: calc(15/16) * 1rem;
		}
    }
}

// About

.about {
    background-color: $color-tertiary;

    &__container {
        @include flexbox($direction: column,
        );

        padding-top: 94px;
        padding-bottom: 114px;

        background-image: url("./assets/img/about-pets.png");
        background-repeat: no-repeat;
        background-size: 300px 408px;
        background-position: left 215px top 80px;
    }

    &__title {
        width: 370px;

        margin-left:50%;
        margin-bottom:25px;
    }

    &__title h2 {
        @extend %h2-style;
        text-align: left;
    }

    &__text {
        width: 430px;

        margin-left:50%;

        text-align: left;
    }

    &__text p {
        @include font();
    }

    &__text * + * {
        margin-top:25px;
    }
}

@media (max-width:1200px) {
    .about {    
        &__container {    
            background-position: left 40px top 80px;
        }

        &__title {    
            margin-left:45%;
        }

        &__text {    
            margin-left:45%;
        }
    }    
}

@media (max-width:900px) {
.about {

    &__container {
        padding-top: 80px;
        padding-bottom: 588px;

        background-repeat: no-repeat;
        background-position: left 50% top 540px;
    }

    &__title {
        margin-left:169px;
    }

    &__text {
        margin-left:169px;
    }
}
}

@media (max-width:767px) {
    .about {
        &__title {
            width: 250px;

            margin-left:auto;
            margin-right:auto;
        }

        &__title h2 {
            @include font($font-family: 'Georgia',
            $font-size: calc(25/16) * 1rem,
            $line-height: 1.3,
            $color: $color-dark,
            $letter-spacing: 0.06em);
            text-align: center;
        }

        &__text {

            padding-left:25px;
            padding-right:25px;

            margin-left:auto;
            margin-right:auto;

            text-align: justify;
        }
    }
}

@media (max-width:480px) {
    .about {
        &__text {
        width:auto;
        }
    }
}

@include media-mobile {
    .about {

        &__container {
    
            padding-top: 42px;
            padding-bottom: 438px;

            background-position: left 50% top 578px;
            background-size: 260px 354px;
        }
    }
}


//Our friends

.our-friends {
    background-color: $color-light;

    &__container {
        @include flexbox(
            $direction: column,
            $alignItems: center);

        padding: 80px 40px 100px;

        

        & h2 {
            width:400px;

            margin-bottom:60px;

            @extend %h2-style;
            text-align: center;
        }

        & > a {
            margin-top:60px;
        }
    }
}

@media (max-width:820px) {
    .our-friends {    
        &__container {
            padding: 80px 30px 100px;            
        }
    }
}

@media (max-width:767px) {
    .our-friends {    
        &__container {
            padding: 42px 10px;           
    
            & h2 {
                width:100%;
    
                margin-bottom:42px;

                @include font($font-family: 'Georgia',
                    $font-size: calc(25/16) * 1rem,
                    $line-height: 1.3,
                    $color: $color-dark,
                    $letter-spacing: 0.06em);

            }
    
            & > a {
                margin-top:42px;
            }
        }
    }
    
}

// Help
.help {
    background-color: $color-tertiary;

    &__container {
        @include flexbox(
            $direction: column,
            $alignItems: center);

        padding: 80px 127px 100px;

        & h2 {
            width: 310px;

            margin-bottom:60px;

            @include font(
            $font-family: 'Georgia',
            $font-size: calc(35/16) * 1rem,
            $line-height: 1.3,
            $color: $color-dark,
            $letter-spacing: 0.06em);
            text-align: center;
        }
    }

    &__list {
        @include flexbox($wrap: wrap,
        $justifyContent: center);

        margin:0;
        padding:0;

        list-style: none;
    }

    &__item {
        flex: 1 1 20%;

        @include flexbox(
            $direction: column,
            $alignItems: center);

        &:nth-child(n+6) {
            margin-top: 55px;
        }

        & > img {
            width:60px;
            height:60px;
        }

        & > p {
            margin-top:30px;

            @include font(
            $font-family: 'Georgia',
            $font-size: calc(20/16) * 1rem,
            $line-height: 1.15,
            $color: $color-dark,
            $letter-spacing: 0.06em);

            white-space: nowrap;
        }
    }
}

@include media-laptop {
.help {
    &__container {
        padding: 80px 125px 100px;
    }

    &__list {
        @include flexbox($wrap: wrap,
        $justifyContent: flex-start);

        & > * + * {
            margin-left:120px;
        }
    }

    &__item {
        flex: 1 1 0%;

        &:nth-child(1)  {
            margin-right: auto;
        }
        &:nth-child(6)  {
            margin-left: 84px;
        }
        &:nth-child(9)  {
            margin-right: 84px;
        }
    }
}
}

@media (max-width:1279px) {
    .help {    
        &__list {
            @include flexbox($wrap: wrap,
            $justifyContent: center);
        }
    
        &__item {
            flex: 1 1 25%;

            &:nth-child(n) {
                margin:0;
            }
    
            &:nth-child(n+5) {
                margin-top: 55px;
            }
        }
    }
}

@media (max-width:1000px) {
    .help {    
        &__list {
            @include flexbox($wrap: wrap,
            $justifyContent: center);
        }
    
        &__item {
            flex: 1 1 33.333%;

            &:nth-child(n) {
                margin:0;
            }
    
            &:nth-child(n+4) {
                margin-top: 55px;
            }
        }
    }
}

@include media-tablet {
    .help {    
        &__container {
            padding: 80px 40px 100px;
        }

        &__list {
            @include flexbox($wrap: wrap,
            $justifyContent: space-between);
        }
    
        &__item {
            flex: 1 1 33.333%;

            &:nth-child(n) {
                margin:0;
            }
    
            &:nth-child(n+4) {
                margin-top: 55px;
            }
        }
    }
}

@media (max-width:600px) {
    .help {    
        &__container {
            padding: 42px 15px 42px;
        }
    
        &__list {    
            & > * + * {
                margin:0;
            }
        }
    
        &__item {
            flex: 0 1 calc(50% - 15px);

            &:nth-child(2n)  {
                margin-left: 30px;
            }

            &:nth-child(n+4) {
                margin-top: 0;
            }

            &:nth-child(n+3) {
                margin-top: 30px;
            }

            & > img {
                width:50px;
                height:50px;
            }

            & > p {
                margin-top:20px;
    
                @include font(
                $font-family: 'Georgia',
                $font-size: calc(15/16) * 1rem,
                $line-height: 1.1,
                $color: $color-dark,
                $letter-spacing: 0.06em)
            }
        }
    }
}

@include media-mobile {
    .help {    
        &__container {
            & h2 {
                width: 230px;
    
                margin-bottom:42px;
    
                @include font($font-family: 'Georgia',
                $font-size: calc(25/16) * 1rem,
                $line-height: 1.3,
                $color: $color-dark,
                $letter-spacing: 0.06em);
            }
        }
    }
}

// In addiction
.in-addition {
    background-color: $color-light;

    &__background {
        background-image: url("./assets/img/donation-dog.png");
        background-position: top 91px left 183px;
        background-size: 505px 261px;
        background-repeat: no-repeat;
    }

    &__container {
        width: 380px;

        @include flexbox(
            $direction: column);

        padding: 80px 182px 100px 183px;

        margin-left:auto;

        & h2 {
            width: 300px;

            margin-bottom:20px;

            @extend %h2-style;
        }
    }

    &__subtitle {
        margin-bottom:20px;

        @include font($font-family: 'Georgia',
        $line-height: 1.1,
        $color: $color-dark,
        $letter-spacing: 0.06em);
    }

    &__number {
        @include flexbox($alignItems: flex-end);

        width:fit-content;

        margin-bottom:20px;
        padding: 10px 15px 10px 0;

        background-color: $color-primary;
        border-radius: 9px;

        @include font($font-family: 'Georgia',
        $font-size: calc(20/16) * 1rem,
        $line-height: 1.15,
        $color: $color-dark,
        $letter-spacing: 0.06em);

        text-decoration: none;

        transition: all 0.5s linear;

        &:hover {
            background: $color-primary-light;
            border-color: $color-primary-light;
            transition: all 0.5s linear;
        }

        & i {
            color: $color-dark;
            font-size:calc(23/16) * 1rem;
            padding-left: 15px;
        }

    }

    &__comment {

        @include font(
        $font-style: italic,
        $font-size: calc(12/16) * 1rem,
        $line-height: 1.5,
        $color: $color-grey);
    }
}

@media (max-width:1275px){
    .in-addition {    
        &__background {
            background-position: top 422px left 50%;
        }
    
        &__container {
            padding: 80px 194px 421px 194px;
            margin-right:auto;
        }
    }
}

@include media-tablet{
    .in-addition {    
        &__background {
            background-position: top 422px left 131px;
        }
    
        &__container {
            padding: 80px 194px 421px 194px;
        }
    }
}

@media (max-width:767px) {
    .in-addition {
        &__background {
        background-position: top 365px left 50%;
        background-size: 260px 135px;
    }

    &__container {
        width: auto;

        @include flexbox(
            $direction: column,
            $alignItems:center);

        padding: 42px 20px 219px;

        & h2 {
            width: 220px;

            @include font($font-family: 'Georgia',
            $font-size: calc(25/16) * 1rem,
            $line-height: 1.3,
            $color: $color-dark,
            $letter-spacing: 0.06em);
            text-align: center;
        }
    }

    &__subtitle {
        @include font($font-family: 'Georgia',
        $line-height: 1.6,
        $color: $color-dark);
        text-align: center;
    }

    &__number {
        align-items:center;

        padding: 10px 13px 10px 0;

        @include font($font-family: 'Georgia',
        $font-size: calc(15/16) * 1rem,
        $line-height: 1.1,
        $color: $color-dark,
        $letter-spacing: 0.06em);
    }

    &__comment {
        text-align: justify;
    }
}
}




