html {
    scroll-behavior: smooth;
    font-size: 1rem;
}

body {
    background: $color-tertiary;

    @include font();

    overflow-x: hidden;
}

.wrapper {
    max-width: $content-width;
    margin: 0 auto;
}

@include media-tablet {
    .wrapper {
    max-width: $tablet-width;
    }
}

@include media-mobile {
    .wrapper {
    max-width: $mobile-small-width;
    }
}

[class^="icon-"] {
    color: $color-primary;
    font-size: calc(32/16) * 1rem;
}

.plug {
    position:absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background: $color-overlay;

    cursor: pointer;

    z-index: 9;
}

.fixed {
    overflow-y:hidden;
    position:fixed;
}

.hidden {
    display: none;
}

@keyframes make-hidden {
    from {opacity:1;visibility:visible;}
    to {opacity:0;visibility:hidden;}
}

.make-hidden {
    animation-name: make-hidden;
    animation-duration: 0.5s;
}

@keyframes make-visible {
    from {opacity:0;visibility:hidden;}
    to {opacity:1;visibility:visible;}
}

.make-visible {
    animation-name: make-visible;
    animation-duration: 0.5s;
}